[Unit]
Description=POX Network Controller with Ridikkulous packet redirector

[Service]
User=nobody
Group=nogroup
ExecStart=/opt/pox/pox.py --verbose riddikulus_connector
Restart=on-failure
ProtectSystem=full
PrivateTmp=yes
PrivateDevices=yes
ProtectHome=yes

[Install]
WantedBy=multi-user.target
